.quoteC{
  color: #FF7A7C;
}
.conjunctionC{
  color: #C678DD;
}
.objectC{
  color: #F7B678;
}
.opsymbolC{
  color: #98C379;
}
.numberC{
  color: #6DBCFF;
}
.othersC{
  color: #7F8DAD;
}
