.icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  font-size: 15px;
}
html{
  background-color: #333333;
}
body{
  margin: 0;
  height: 100vh;
}
header{
  background-color: #000000;
  width: 100%;
  height: 44px;
}
#logo{
  margin:0;
  font-weight:100;
  color: #ffffff;
  font-size: 20px;
  padding-top: 7px;
  padding-left: 100px;
  float: left;
}
main{
  height: calc(100% - 64px);
  margin:5px;
}
.block{
  float: left;
  margin:5px;
  padding:15px;
  border-radius:10px;
  background-color:#1e1e1e;
  height:calc(100% - 30px);
}
#blockArea{
  width:calc(20% - 40px);
}
#blockBox{
  overflow: scroll;
  height: calc(100% - 125.2px);
  width: 100%;
}
#codeArea{
  color:#FFFFFF;
  font-weight: bolder;
  overflow: scroll;
  float: left;
}
.mini-block{
  margin:10px;
  padding:10px;
  border-radius: 10px;
  background-color: #595959;
  border: solid;
  color: #FFFFFF;
  font-weight: bolder;
  font-size:15px;
}
.quote{
  border-color: #FF7A7C;
}
.conjunction{
  border-color: #C678DD;
}
.object{
  border-color: #F7B678;
}
.opsymbol{
  border-color: #98C379;
}
.others{
  border-color: #7F8DAD;
}
.number{
  border-color: #6DBCFF;
}
#tArea{
  width: calc(100% - 20px);
  border: solid;
  border-radius: 10px;
  border-color: #595959;
  background: #1e1e1e;
  font-size: 15px;
  color: white;
  font-weight: bolder;
  padding: 10px;
}
#dButton{
  background-color: #1e1e1e;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: 7px;
  float: right;
  margin-right: 100px;
  font-size: 20px;
}
.mini-button{
  background: #595959;
  color: white;
  position: sticky;
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin: 10px;
  float: left;
}
.big-block{
  height:calc(100% - 10px);
  float: left;
  width: calc(80% - 10px);
  margin:5px;
}
.mini-buttons{
  width: 100%;
  background: #1e1e1e;
  border-radius: 10px;
  height: 45px;
}
.harf-block{
  height: calc(100% - 76px);
  width:calc(100% - 30px);
  margin-top: 10px;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 15px;
}
.caret {
  height: 20px;
  width: 2px;
  background-color: white;
  float: left;
  white-space: nowrap;
}
#selectBox{
  background-color: #1e1e1e;
  padding: 5px;
  border-radius: 5px;
  border-color: white;
  color: white;
}
